
.recipe {
    padding: 2em;
    width: 100%;
    margin: 1em 0;
    position: relative;
    border-radius: 10px;
    border: 3px solid transparent;
    background: #fff;
    background-clip: padding-box;
    box-shadow: 3px 3px 5px 6px #ccc;
}

.recipe::after {
   position: absolute;
    top: -3px; bottom: -3px;
    left: -3px; right: -3px;
    z-index: -1;
    border-radius: 10px;
    content: '';
    background: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
}

@media screen and (min-width: 768px) {
    .recipe {
        flex: 0 0 calc(33% - 2%);
        display: flex;
        margin: 1em 1%;
        flex-flow: column;
    }
}

@media screen and (min-width: 1201px) {
    .recipe {
        flex: 1 0 calc(25% - 2%);
    }
}

.recipe h3 {}